<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".UpgradeProbeActivity" android:exported="true" />
        <activity android:name=".UpgradeQualifyActivity" android:exported="true" />
        <activity android:name=".QaLoginActivity" android:exported="true" />
    </application>
</manifest>
